### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
#Adding new columns for grades
school_data_complete['Reading Pass'] = school_data_complete['reading_score'].apply(lambda x: 'Pass' if x >= 70 else 'Fail')
school_data_complete['Math Pass'] = school_data_complete['math_score'].apply(lambda x: 'Pass' if x >= 70 else 'Fail')

school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,Reading Pass,Math Pass
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,Fail,Pass
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,Pass,Fail
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,Pass,Fail
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,Fail,Fail
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,Pass,Pass

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
###Check HERE~!

#The total number of schools
numberOfSchools=school_data_complete["School ID"].nunique()

#The total number of students
numberofStudents=school_data_complete["Student ID"].count()

#the total school budget
budgetTotal=school_data["budget"].sum()

#The average math score
averageMathScore=school_data_complete["math_score"].mean()

#The average reading score
averageReadingScore=school_data_complete["reading_score"].mean()

#percentage of students with a passing math score (70 or greater)
studentsPassingMath=len(school_data_complete[school_data_complete["Math Pass"]=="Pass"])
studentsPassingMathPerc=(studentsPassingMath/numberofStudents)*100
studentsPassingMathPerc

#percentage of students with a passing reading score (70 or greater)
studentsPassingReading=len(school_data_complete[school_data_complete["Reading Pass"]=="Pass"])
studentsPassingReadingPerc=(studentsPassingReading/numberofStudents)*100
studentsPassingReadingPerc

# overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
OverallPassingRate=(averageMathScore+averageReadingScore)/2

In [4]:
#District Summary Report
DistrictSummary=pd.DataFrame(
{"Total Schools":[numberOfSchools],
 "Total Students":[numberofStudents],
 "Total Budget":[budgetTotal],
 "Average Math Score":[averageMathScore],
 "Average Reading Score":[averageReadingScore],
 "% Passing Math":[studentsPassingMathPerc],
 "% Passing Reading":[studentsPassingReadingPerc],
 "% Overall Passing Rate":[OverallPassingRate] })
DistrictSummary.columns

#Formating

DistrictSummary
DistrictSummary['Total Budget']=DistrictSummary['Total Budget'].map("${:.2f}".format)
DistrictSummary['Average Math Score']=DistrictSummary['Average Math Score'].map("{:.2f}%".format)
DistrictSummary['Average Reading Score']=DistrictSummary['Average Reading Score'].map("{:.2f}%".format)
DistrictSummary['% Passing Math']=DistrictSummary['% Passing Math'].map("{:.2f}%".format)
DistrictSummary['% Passing Reading']=DistrictSummary['% Passing Reading'].map("{:.2f}%".format)
DistrictSummary['% Overall Passing Rate']=DistrictSummary['% Overall Passing Rate'].map("{:.2f}%".format)
                
DistrictSummary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,$24649428.00,78.99%,81.88%,74.98%,85.81%,80.43%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [94]:
#school Summary Report 

#Using PivotTable to report summary
table = pd.pivot_table(school_data_complete, values=['Student ID','reading_score', 'budget', 'math_score','Reading Pass','Math Pass'], index=['type', 'school_name'],
               aggfunc={'Student ID': np.count_nonzero,
                        'reading_score':np.mean,
                        'Reading Pass':lambda x:(x=="Pass").sum(),
                        'Math Pass':lambda x:(x=="Pass").sum(),
                        'math_score':np.mean,
                        'budget': [np.mean]})

table.columns=table.columns.droplevel(1)

table["Average Budget [Student]"]=table["budget"]/table["Student ID"]
table["Percentage of Passed Math"]=(table["Math Pass"]/table["Student ID"])*100
table["Percentage of Passed Reading"]=(table["Reading Pass"]/table["Student ID"])*100

table["Overall Passing Rate"]=(table["Percentage of Passed Math"]+table["Percentage of Passed Reading"])/2

table.head()
schoolSummaryReport=table [['Student ID','budget','Average Budget [Student]',
                                    'math_score',
                                    'reading_score',
                                    'Percentage of Passed Math', 
                                    'Percentage of Passed Reading',
                                    'Overall Passing Rate']]
schoolSummaryReport

                                Student ID   budget  Average Budget [Student]  \
type     school_name
Charter  Cabrera High School          1858  1081356                582.000000
         Griffin High School          1468   917500                625.000000
         Holden High School            427   248087                581.000000
         Pena High School              962   585858                609.000000
         Shelton High School          1761  1056600                600.000000
         Thomas High School           1635  1043130                638.000000
         Wilson High School           2283  1319574                578.000000
         Wright High School           1800  1049400                583.000000
District Bailey High School           4976  3124928                628.000000
         Figueroa High School         2949  1884411                639.000000
         Ford High School             2739  1763916                644.000000
         Hernandez High School        4635  3022020                652.000000
         Huang High School            2916  1910635                655.224623
         Johnson High School          4761  3094650                650.000000
         Rodriguez High School        3999  2547363                637.000000

                                math_score  reading_score  \
type     school_name
Charter  Cabrera High School     83.061895      83.975780
         Griffin High School     83.351499      83.816757
         Holden High School      83.803279      83.814988
         Pena High School        83.839917      84.044699
         Shelton High School     83.359455      83.725724
         Thomas High School      83.418349      83.848930
         Wilson High School      83.274201      83.989488
         Wright High School      83.682222      83.955000
District Bailey High School      77.048432      81.033963
         Figueroa High School    76.711767      81.158020
         Ford High School        77.102592      80.746258
         Hernandez High School   77.289752      80.934412
         Huang High School       76.629414      81.182722
         Johnson High School     77.072464      80.966394
         Rodriguez High School   76.842711      80.744686

                                Percentage of Passed Math  \
type     school_name
Charter  Cabrera High School                    94.133477
         Griffin High School                    93.392371
         Holden High School                     92.505855
         Pena High School                       94.594595
         Shelton High School                    93.867121
         Thomas High School                     93.272171
         Wilson High School                     93.867718
         Wright High School                     93.333333
District Bailey High School                     66.680064
         Figueroa High School                   65.988471
         Ford High School                       68.309602
         Hernandez High School                  66.752967
         Huang High School                      65.706447
         Johnson High School                    66.057551
         Rodriguez High School                  66.366592

                                Percentage of Passed Reading  \
type     school_name
Charter  Cabrera High School                       97.039828
         Griffin High School                       97.138965
         Holden High School                        96.252927
         Pena High School                          95.945946
         Shelton High School                       95.854628
         Thomas High School                        97.308869
         Wilson High School                        96.539641
         Wright High School                        96.611111
District Bailey High School                        81.933280
         Figueroa High School                      80.739234
         Ford High School                          79.299014
         Hernandez High School                     80.862999
         Huang High School                         81.344307
         Johnson High School                       81.222432
         Rodriguez High School                     80.220055

                                Overall Passing Rate
type     school_name
Charter  Cabrera High School               95.586652
         Griffin High School               95.265668
         Holden High School                94.379391
         Pena High School                  95.270270
         Shelton High School               94.860875
         Thomas High School                95.290520
         Wilson High School                95.203679
         Wright High School                94.972222
District Bailey High School                74.306672
         Figueroa High School              73.363852
         Ford High School                  73.804308
         Hernandez High School             73.807983
         Huang High School                 73.525377
         Johnson High School               73.639992
         Rodriguez High School             73.293323

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [72]:
#Top Performing Schools (By Passing Rate)
topSchools=schoolSummaryReport.sort_values("Overall Passing Rate",ascending=False)
topSchools.head(5)

                             Student ID   budget  Average Budget [Student]  \
type    school_name
Charter Cabrera High School        1858  1081356                     582.0
        Thomas High School         1635  1043130                     638.0
        Pena High School            962   585858                     609.0
        Griffin High School        1468   917500                     625.0
        Wilson High School         2283  1319574                     578.0

                             math_score  reading_score  \
type    school_name
Charter Cabrera High School   83.061895      83.975780
        Thomas High School    83.418349      83.848930
        Pena High School      83.839917      84.044699
        Griffin High School   83.351499      83.816757
        Wilson High School    83.274201      83.989488

                             Percentage of Passed Math  \
type    school_name
Charter Cabrera High School                  94.133477
        Thomas High School                   93.272171
        Pena High School                     94.594595
        Griffin High School                  93.392371
        Wilson High School                   93.867718

                             Percentage of Passed Reading  \
type    school_name
Charter Cabrera High School                     97.039828
        Thomas High School                      97.308869
        Pena High School                        95.945946
        Griffin High School                     97.138965
        Wilson High School                      96.539641

                             Overall Passing Rate
type    school_name
Charter Cabrera High School             95.586652
        Thomas High School              95.290520
        Pena High School                95.270270
        Griffin High School             95.265668
        Wilson High School              95.203679

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [73]:
#Bottom Performing Schools (By Passing Rate)

lowSchools=schoolSummaryReport.sort_values("Overall Passing Rate",ascending=True)
lowSchools.head()

                                Student ID   budget  Average Budget [Student]  \
type     school_name
District Rodriguez High School        3999  2547363                637.000000
         Figueroa High School         2949  1884411                639.000000
         Huang High School            2916  1910635                655.224623
         Johnson High School          4761  3094650                650.000000
         Ford High School             2739  1763916                644.000000

                                math_score  reading_score  \
type     school_name
District Rodriguez High School   76.842711      80.744686
         Figueroa High School    76.711767      81.158020
         Huang High School       76.629414      81.182722
         Johnson High School     77.072464      80.966394
         Ford High School        77.102592      80.746258

                                Percentage of Passed Math  \
type     school_name
District Rodriguez High School                  66.366592
         Figueroa High School                   65.988471
         Huang High School                      65.706447
         Johnson High School                    66.057551
         Ford High School                       68.309602

                                Percentage of Passed Reading  \
type     school_name
District Rodriguez High School                     80.220055
         Figueroa High School                      80.739234
         Huang High School                         81.344307
         Johnson High School                       81.222432
         Ford High School                          79.299014

                                Overall Passing Rate
type     school_name
District Rodriguez High School             73.293323
         Figueroa High School              73.363852
         Huang High School                 73.525377
         Johnson High School               73.639992
         Ford High School                  73.804308

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [74]:
#Report Math Scores by Grade

mathGrades = pd.pivot_table(school_data_complete, values=['math_score'], index=['school_name','grade'],
                            aggfunc={'math_score':np.mean})

#Formatting
mathGrades["math_score"]=mathGrades["math_score"].map("{:.2f}%".format)

mathGrades

                            math_score
school_name           grade
Bailey High School    10th      77.00%
                      11th      77.52%
                      12th      76.49%
                      9th       77.08%
Cabrera High School   10th      83.15%
                      11th      82.77%
                      12th      83.28%
                      9th       83.09%
Figueroa High School  10th      76.54%
                      11th      76.88%
                      12th      77.15%
                      9th       76.40%
Ford High School      10th      77.67%
                      11th      76.92%
                      12th      76.18%
                      9th       77.36%
Griffin High School   10th      84.23%
                      11th      83.84%
                      12th      83.36%
                      9th       82.04%
Hernandez High School 10th      77.34%
                      11th      77.14%
                      12th      77.19%
                      9th       77.44%
Holden High School    10th      83.43%
                      11th      85.00%
                      12th      82.86%
                      9th       83.79%
Huang High School     10th      75.91%
                      11th      76.45%
                      12th      77.23%
                      9th       77.03%
Johnson High School   10th      76.69%
                      11th      77.49%
                      12th      76.86%
                      9th       77.19%
Pena High School      10th      83.37%
                      11th      84.33%
                      12th      84.12%
                      9th       83.63%
Rodriguez High School 10th      76.61%
                      11th      76.40%
                      12th      77.69%
                      9th       76.86%
Shelton High School   10th      82.92%
                      11th      83.38%
                      12th      83.78%
                      9th       83.42%
Thomas High School    10th      83.09%
                      11th      83.50%
                      12th      83.50%
                      9th       83.59%
Wilson High School    10th      83.72%
                      11th      83.20%
                      12th      83.04%
                      9th       83.09%
Wright High School    10th      84.01%
                      11th      83.84%
                      12th      83.64%
                      9th       83.26%

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [75]:
#Report Reading Scores by Grade

readGrades = pd.pivot_table(school_data_complete, values=['reading_score'], index=['school_name','grade'],
                            aggfunc={'reading_score':np.mean})

#Formatting
readGrades["reading_score"]=readGrades["reading_score"].map("{:.2f}%".format)

readGrades

                            reading_score
school_name           grade
Bailey High School    10th         80.91%
                      11th         80.95%
                      12th         80.91%
                      9th          81.30%
Cabrera High School   10th         84.25%
                      11th         83.79%
                      12th         84.29%
                      9th          83.68%
Figueroa High School  10th         81.41%
                      11th         80.64%
                      12th         81.38%
                      9th          81.20%
Ford High School      10th         81.26%
                      11th         80.40%
                      12th         80.66%
                      9th          80.63%
Griffin High School   10th         83.71%
                      11th         84.29%
                      12th         84.01%
                      9th          83.37%
Hernandez High School 10th         80.66%
                      11th         81.40%
                      12th         80.86%
                      9th          80.87%
Holden High School    10th         83.32%
                      11th         83.82%
                      12th         84.70%
                      9th          83.68%
Huang High School     10th         81.51%
                      11th         81.42%
                      12th         80.31%
                      9th          81.29%
Johnson High School   10th         80.77%
                      11th         80.62%
                      12th         81.23%
                      9th          81.26%
Pena High School      10th         83.61%
                      11th         84.34%
                      12th         84.59%
                      9th          83.81%
Rodriguez High School 10th         80.63%
                      11th         80.86%
                      12th         80.38%
                      9th          80.99%
Shelton High School   10th         83.44%
                      11th         84.37%
                      12th         82.78%
                      9th          84.12%
Thomas High School    10th         84.25%
                      11th         83.59%
                      12th         83.83%
                      9th          83.73%
Wilson High School    10th         84.02%
                      11th         83.76%
                      12th         84.32%
                      9th          83.94%
Wright High School    10th         83.81%
                      11th         84.16%
                      12th         84.07%
                      9th          83.83%

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [76]:
# Sample bins. Feel free to create your own bins.
bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

spendingReport=table.copy()
spendingReport["Spending Groups"] = pd.cut(spendingReport["Average Budget [Student]"], bins, labels=group_names, right=False)
spendingReport.head()

                             Math Pass  Reading Pass  Student ID   budget  \
type    school_name
Charter Cabrera High School       1749          1803        1858  1081356
        Griffin High School       1371          1426        1468   917500
        Holden High School         395           411         427   248087
        Pena High School           910           923         962   585858
        Shelton High School       1653          1688        1761  1056600

                             math_score  reading_score  \
type    school_name
Charter Cabrera High School   83.061895      83.975780
        Griffin High School   83.351499      83.816757
        Holden High School    83.803279      83.814988
        Pena High School      83.839917      84.044699
        Shelton High School   83.359455      83.725724

                             Average Budget [Student]  \
type    school_name
Charter Cabrera High School                     582.0
        Griffin High School                     625.0
        Holden High School                      581.0
        Pena High School                        609.0
        Shelton High School                     600.0

                             Percentage of Passed Math  \
type    school_name
Charter Cabrera High School                  94.133477
        Griffin High School                  93.392371
        Holden High School                   92.505855
        Pena High School                     94.594595
        Shelton High School                  93.867121

                             Percentage of Passed Reading  \
type    school_name
Charter Cabrera High School                     97.039828
        Griffin High School                     97.138965
        Holden High School                      96.252927
        Pena High School                        95.945946
        Shelton High School                     95.854628

                             Overall Passing Rate Spending Groups
type    school_name
Charter Cabrera High School             95.586652           <$585
        Griffin High School             95.265668        $615-645
        Holden High School              94.379391           <$585
        Pena High School                95.270270        $585-615
        Shelton High School             94.860875        $585-615

In [93]:
#Scores by School Spending
sReport = pd.pivot_table(spendingReport, values=['reading_score',
                                                 'math_score',
                                                 'Percentage of Passed Math',
                                                 'Percentage of Passed Reading',
                                                 'Overall Passing Rate'], index=['Spending Groups'],
                                             aggfunc={'reading_score':np.mean,
                                                      'math_score':np.mean,
                                                     'Percentage of Passed Math':np.mean,
                                                 'Percentage of Passed Reading':np.mean,
                                                 'Overall Passing Rate':np.mean})


sReport

,Overall Passing Rate,Percentage of Passed Math,Percentage of Passed Reading,math_score,reading_score
Spending Groups,,,,,
<$585,95.035486,93.460096,96.610877,83.455399,83.933814
$585-615,95.065572,94.230858,95.900287,83.599686,83.885211
$615-645,80.887391,75.668212,86.106569,79.079225,81.891436
$645-675,73.657784,66.172322,81.143246,76.997210,81.027843

## Scores by School Size

* Perform the same operations as above, based on school size.

In [89]:
# Sample bins. Feel free to create your own bins.
sbins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

sizeReport=table.copy()
sizeReport["School Size"] = pd.cut(table["Student ID"], sbins, labels=group_names, right=False)
sizeReport

                                Math Pass  Reading Pass  Student ID   budget  \
type     school_name
Charter  Cabrera High School         1749          1803        1858  1081356
         Griffin High School         1371          1426        1468   917500
         Holden High School           395           411         427   248087
         Pena High School             910           923         962   585858
         Shelton High School         1653          1688        1761  1056600
         Thomas High School          1525          1591        1635  1043130
         Wilson High School          2143          2204        2283  1319574
         Wright High School          1680          1739        1800  1049400
District Bailey High School          3318          4077        4976  3124928
         Figueroa High School        1946          2381        2949  1884411
         Ford High School            1871          2172        2739  1763916
         Hernandez High School       3094          3748        4635  3022020
         Huang High School           1916          2372        2916  1910635
         Johnson High School         3145          3867        4761  3094650
         Rodriguez High School       2654          3208        3999  2547363

                                math_score  reading_score  \
type     school_name
Charter  Cabrera High School     83.061895      83.975780
         Griffin High School     83.351499      83.816757
         Holden High School      83.803279      83.814988
         Pena High School        83.839917      84.044699
         Shelton High School     83.359455      83.725724
         Thomas High School      83.418349      83.848930
         Wilson High School      83.274201      83.989488
         Wright High School      83.682222      83.955000
District Bailey High School      77.048432      81.033963
         Figueroa High School    76.711767      81.158020
         Ford High School        77.102592      80.746258
         Hernandez High School   77.289752      80.934412
         Huang High School       76.629414      81.182722
         Johnson High School     77.072464      80.966394
         Rodriguez High School   76.842711      80.744686

                                Average Budget [Student]  \
type     school_name
Charter  Cabrera High School                  582.000000
         Griffin High School                  625.000000
         Holden High School                   581.000000
         Pena High School                     609.000000
         Shelton High School                  600.000000
         Thomas High School                   638.000000
         Wilson High School                   578.000000
         Wright High School                   583.000000
District Bailey High School                   628.000000
         Figueroa High School                 639.000000
         Ford High School                     644.000000
         Hernandez High School                652.000000
         Huang High School                    655.224623
         Johnson High School                  650.000000
         Rodriguez High School                637.000000

                                Percentage of Passed Math  \
type     school_name
Charter  Cabrera High School                    94.133477
         Griffin High School                    93.392371
         Holden High School                     92.505855
         Pena High School                       94.594595
         Shelton High School                    93.867121
         Thomas High School                     93.272171
         Wilson High School                     93.867718
         Wright High School                     93.333333
District Bailey High School                     66.680064
         Figueroa High School                   65.988471
         Ford High School                       68.309602
         Hernandez High School                  66.752967
         Huang High School                      65.706447
         Johnson High School                    66.057551
         Rodriguez High School                  66.366592

                                Percentage of Passed Reading  \
type     school_name
Charter  Cabrera High School                       97.039828
         Griffin High School                       97.138965
         Holden High School                        96.252927
         Pena High School                          95.945946
         Shelton High School                       95.854628
         Thomas High School                        97.308869
         Wilson High School                        96.539641
         Wright High School                        96.611111
District Bailey High School                        81.933280
         Figueroa High School                      80.739234
         Ford High School                          79.299014
         Hernandez High School                     80.862999
         Huang High School                         81.344307
         Johnson High School                       81.222432
         Rodriguez High School                     80.220055

                                Overall Passing Rate         School Size
type     school_name
Charter  Cabrera High School               95.586652  Medium (1000-2000)
         Griffin High School               95.265668  Medium (1000-2000)
         Holden High School                94.379391       Small (<1000)
         Pena High School                  95.270270       Small (<1000)
         Shelton High School               94.860875  Medium (1000-2000)
         Thomas High School                95.290520  Medium (1000-2000)
         Wilson High School                95.203679   Large (2000-5000)
         Wright High School                94.972222  Medium (1000-2000)
District Bailey High School                74.306672   Large (2000-5000)
         Figueroa High School              73.363852   Large (2000-5000)
         Ford High School                  73.804308   Large (2000-5000)
         Hernandez High School             73.807983   Large (2000-5000)
         Huang High School                 73.525377   Large (2000-5000)
         Johnson High School               73.639992   Large (2000-5000)
         Rodriguez High School             73.293323   Large (2000-5000)

In [90]:
#Scores by School Size Report


SchoolsizeReport = pd.pivot_table(sizeReport, values=['reading_score',
                                                 'math_score',
                                                 'Percentage of Passed Math',
                                                 'Percentage of Passed Reading',
                                                 'Overall Passing Rate'], index=['School Size'],
                                             aggfunc={'reading_score':np.mean,
                                                      'math_score':np.mean,
                                                     'Percentage of Passed Math':np.mean,
                                                 'Percentage of Passed Reading':np.mean,
                                                 'Overall Passing Rate':np.mean})
SchoolsizeReport

,Overall Passing Rate,Percentage of Passed Math,Percentage of Passed Reading,math_score,reading_score
School Size,,,,,
Small (<1000),94.824831,93.550225,96.099437,83.821598,83.929843
Medium (1000-2000),95.195187,93.599695,96.790680,83.374684,83.864438
Large (2000-5000),76.368148,69.966176,82.770120,77.746417,81.344493

## Scores by School Type

* Perform the same operations as above, based on school type.

In [92]:
#Scores by School Type Report

typeReport = pd.pivot_table(table, values=['reading_score',
                                                 'math_score',
                                                 'Percentage of Passed Math',
                                                 'Percentage of Passed Reading',
                                                 'Overall Passing Rate'], index=['type'],
                                             aggfunc={'reading_score':np.mean,
                                                      'math_score':np.mean,
                                                     'Percentage of Passed Math':np.mean,
                                                 'Percentage of Passed Reading':np.mean,
                                                 'Overall Passing Rate':np.mean})
typeReport

,Overall Passing Rate,Percentage of Passed Math,Percentage of Passed Reading,math_score,reading_score
type,,,,,
Charter,95.103660,93.62083,96.586489,83.473852,83.896421
District,73.677358,66.55167,80.803046,76.956733,80.966636